body {
  background: #f9e933;
}

header, main{
  min-width: 500px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 2.5em;
  color: #b33;
  float: left;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  min-height: 20em;
  padding: 2em;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

footer{
  padding: 3em 0;
  margin-left: 4em;
  height:auto;
}

main h2 {
  font-size:2em;
}

main .question{
  font-size:1.5em;
  padding:0.5em 0.5em 0 0;
}

main .answer{
  padding:1em;
}